{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
    <div class="container">
        <nav class="nav navbar">
            <div class="col-sm-6">
                <h1>Liste des événements</h1>
                {{ include('_flash_messages.html.twig') }}
            </div>   
            <a class="btn btn-success {% if is_granted('ROLE_MODERATOR') %}invisible{% endif %}" href="{{ path('back_event_create') }}">Ajouter</a>
        </nav>
        <table class="table">
            <thead>
                <tr class="flex-grow-1 justify-content-evenly">
                    <th>Id</th>
                    <th>Nom</th>
                    <th class="d-none d-md-table-cell">Description</th>
                    <th class="d-none d-xxl-table-cell">Date</th>
                    <th class="d-none d-xxl-table-cell">Heure</th>
                    <th class="d-none d-md-table-cell">Prix</th>
                    <th class="d-none d-xl-table-cell">Billetterie</th>
                    <th class="d-none d-lg-table-cell">Utilisateur</th>
                    <th class="col-1 text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                {% if app.user.username == event.user or is_granted('ROLE_MODERATOR') or is_granted('ROLE_ADMIN') %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.name }}</td>
                        <td class="wrap-text d-none d-md-table-cell">{{ event.description }}</td>
                        <td class="d-none d-xxl-table-cell">{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                        <td class="d-none d-xxl-table-cell">{{ event.hour|date('H:i') }}</td>
                        <td class="d-none d-md-table-cell">{{ event.price }}</td>
                        <td class="d-none d-xl-table-cell">{{ event.linkTicketing }}</td>
                        <td class="d-none d-lg-table-cell">{{ event.user }}</td>
                        <td class="d-sm-flex">
                            <a  class="buttons btn btn-warning" href="{{ path('back_event_update', {'id': event.id}) }}">Editer</a>
                            {{ include('event/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item {{ (page == 1) ? 'disabled' : '' }}">
                    <a class="page-link" href="?page={{ page - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>  
                    {% set pages = (total / limit)|round(0, 'ceil') %}
                    {% for item in 1..pages %}
                    <li class="page-item {{ (page == item) ? "active" : "" }}">
                        <a class="page-link" href="?page={{ item }}">{{ item }}</a>
                    </li>
                    {% endfor %}
                <li class="page-item {{ (page == pages) ? 'disabled' : '' }}">
                    <a class="page-link" href="?page={{ page + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}



