{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
    <div class="container">
        <nav class="nav navbar">
            <div class="col-sm-6">
                <h1>Liste des événements</h1>
            </div>   
            <a class="btn-lg btn btn-success" href="{{ path('back_event_create') }}">Ajouter</a>
        </nav>
        <table class="table">
            <thead>
                <tr class="flex-grow-1 justify-content-evenly">
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Image</th>
                    <th>Billetterie</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td class='wrap-text'>{{ event.description }}</td>
                    <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event.price }}</td>
                    <td>{{ event.image }}</td>
                    <td>{{ event.linkTicketing }}</td>
                    <td>
                        <a  class="btn btn-sm btn-warning" href="{{ path('back_event_update', {'id': event.id}) }}">Editer</a>
                    </td>
                    <td>
                        {{ include('event/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
