{% extends 'base.html.twig' %}

{% block title %}Liste des régions{% endblock %}

{% block body %}
    <div class="container">
        <nav class="nav navbar">
            <div class="col-sm-6">
                <h1>Liste des régions</h1>
                {{ include('_flash_messages.html.twig') }}                    
            </div>   
            <a class="btn btn-success" href="{{ path('back_region_create') }}">Ajouter</a>
        </nav>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th class="d-none d-xxl-table-cell">Image</th>
                    <th class="col-1 text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for region in regions %}
                <tr>
                    <td>{{ region.id }}</td>
                    <td>{{ region.name }}</td>
                    <td class="d-none d-lg-table-cell">{{ region.image }}</td>
                    <td class="d-sm-flex">
                <a  class="buttons btn btn-warning" href="{{ path('back_region_update', {'id': region.id}) }}">Editer</a>
                {{ include('region/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
